<a href="https://colab.research.google.com/github/Mr-S-Mirzoev/ML-Data/blob/main/lab03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторно-конкурсная работа 3. Композиции алгоритмов. Ранжирование.

Данная работа состоит из двух этапов: лабораторного и конкурсного. Для обоих используется один и тот же набор данных, который вы можете найти в описании первого конкурсного задания на kaggle.

Результат лабораторной работы − отчет. Мы предпочитаем принимать отчеты в формате ноутбуков IPython (ipynb-файл). Постарайтесь сделать ваш отчет интересным рассказом, последовательно отвечающим на вопросы из заданий. Помимо ответов на вопросы, в отчете так же должен быть код, однако чем меньше кода, тем лучше всем: нам − меньше проверять, вам — проще найти ошибку или дополнить эксперимент. При проверке оценивается четкость ответов на вопросы, аккуратность отчета и кода.

Наиболее предпочтительный подход к решению «лабоконкурса» - проделать предлагаемые лабораторные задания, а затем приступить к участию в конкурсном этапе. Это позволит вам перед участием в конкурсе познакомиться с представленными данными, освоить полезные приемы для улучшения качества, получить бейзлайн решение и глубже вникнуть в суть темы. 

Однако, мы не запрещаем вам выполнить только один из двух этапов: вы можете проделать лабораторные исследования и не участвовать в конкурсе или же пропустить лабораторную часть и сразу заняться соревновательной.

Мы не предоставляем код бейзлайн решения конкурса. Идеи для бейзлайна вы можете почерпнуть из заданий лабораторной части.

### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 15 баллов. Сдавать задание после указанного срока сдачи нельзя. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов и понижают карму (подробнее о плагиате см. на странице курса). Если вы нашли решение какого-то из заданий в открытом источнике, необходимо прислать ссылку на этот источник (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, нам необходима ссылка на источник).

Преодоление medium baseline на kaggle дает вам 5 баллов за конкурс. Если вы выполните задания из лабораторной, то пробить medium baseline для вас не составит труда.

### Правила сдачи
Выполненную работу следует отправить в систему Anytask. Более подробно о системе можно почитать на странице курса. Название отправляемого файла должно иметь следующий формат: Surname_Name_Group_NN.ipynb, где NN — номер лабораторной работы. Например, Kozlova_Anna_CS_02.ipynb.

### Preloading

In [2]:
%%bash

[ -d "test_data/task3" ] || (mkdir -p test_data/task3 && unzip zip/competition-2-shad-fall-2018.zip -d test_data/task3)

In [3]:
%cd test_data/task3

C:\Users\mirzoev_s\Yandex-Data-Analysis-School\ML-Tasks\test_data\task3

In [4]:
%%bash

ls -al

total 480544
drwxrwxrwx 1 sergey_mirzoev sergey_mirzoev      4096 May 12 23:51 .
drwxrwxrwx 1 sergey_mirzoev sergey_mirzoev      4096 May 12 23:38 ..
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev   2145018 Dec  1  2019 test.csv
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev 170566642 Oct 29  2017 test_clicks_information.json
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev  13269408 Dec  1  2019 test_clicks_information.json.zip
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev  29889433 Oct 29  2017 test_org_information.json
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev   2356291 Dec  1  2019 test_org_information.json.zip
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev   9795149 Oct 29  2017 test_rubric_information.json
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev    791854 Dec  1  2019 test_rubric_information.json.zip
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev   4360995 Dec  1  2019 train.csv
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev 170914592 Oct 17  2017 train_clicks_information.json
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev  14276300 Dec  1  2019 train_clicks_information.zip
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev  57726717 Oct 17  2017 train_org_information.json
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev   4586335 Dec  1  2019 train_org_information.zip
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev  10513420 Oct 17  2017 train_rubric_information.json
-rwxrwxrwx 1 sergey_mirzoev sergey_mirzoev    852617 Dec  1  2019 train_rubric_information.zip

In [5]:
%%bash
ls ../../test_data/task3
for name in $(ls *.zip); do
    echo "Unziping and removing source $name" ;
    unzip $name ;
    rm $name
done

test.csv
test_clicks_information.json
test_clicks_information.json.zip
test_org_information.json
test_org_information.json.zip
test_rubric_information.json
test_rubric_information.json.zip
train.csv
train_clicks_information.json
train_clicks_information.zip
train_org_information.json
train_org_information.zip
train_rubric_information.json
train_rubric_information.zip
Unziping and removing source test_clicks_information.json.zip
Archive:  test_clicks_information.json.zip
   creating: __MACOSX/
  inflating: __MACOSX/._test_clicks_information.json
Unziping and removing source test_org_information.json.zip
Archive:  test_org_information.json.zip
  inflating: __MACOSX/._test_org_information.json
Unziping and removing source test_rubric_information.json.zip
Archive:  test_rubric_information.json.zip
  inflating: __MACOSX/._test_rubric_information.json
Unziping and removing source train_clicks_information.zip
Archive:  train_clicks_information.zip
Unziping and removing source train_org_information.zip
Archive:  train_org_information.zip
Unziping and removing source train_rubric_information.zip
Archive:  train_rubric_information.zip

replace test_clicks_information.json? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)
replace test_org_information.json? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)
replace test_rubric_information.json? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)
replace train_clicks_information.json? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)
replace train_org_information.json? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)
replace train_rubric_information.json? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)

In [6]:
%%bash

rm -rf MACOSX/ __MACOSX/
ls

test.csv
test_clicks_information.json
test_org_information.json
test_rubric_information.json
train.csv
train_clicks_information.json
train_org_information.json
train_rubric_information.json

**(2 балла) Задание 1.** Загрузите данные о запросах и их релевантности (*train.csv*, *test.csv*), а также информацию об организациях (*train_org_information.json*, *test_org_information.json*) и рубриках (*train_rubric_information.json*, *test_rubric_information.json*)

Для дальнейших экспериментов необходимо посчитать небольшой набор базовых факторов. С использованием информации о запросах и организациях, посчитайте факторы, которые на ваш взгляд будут полезными для предсказания релевантности.

Примерами текстовых факторов могут служить:
 - кол-во слов в запросе и названии организации;
 - пословные/N-граммные пересечения слов запроса и названия организации (также можно использовать синонимы названия организации и адрес организации): кол-во слов в пересечении, [мера Жаккара](https://en.wikipedia.org/wiki/Jaccard_index) и пр.;
 - кол-во различных синонимичных названий организации (поле *names* в описании организации);
 - One-hot-encoded язык запроса.
 
По информации о географическом положении:
 - факт совпадения региона, где задавался запрос и региона организации;
 - координаты показанной области;
 - размеры показанной области;
 - меры, характеризующие близость координат организации к показанному окну: расстояние до центра области и другие.
 
Факторы, описывающие организацию:
 - one-hot-encoding фактор cтраны или региона организации (важно: не используйте one-hot-encoding факторы, в которых больше 10 значений; если в факторе слишком много значений, ограничьтесь, например, только самыми популярными категориями)
 - кол-во рабочих дней в неделе и общая продолжительность работы (поле *work_intervals* в описании организации)
 - кол-во рубрик (поле *rubrics* в описании организации)
 
![](https://miro.medium.com/max/1500/0*FwubnnoNlt6Coo9j.png)

В этом задании не нужно использовать многомерные представления текстовой информации (tfidf и прочие embeddings) и информацию о кликах (*train_clicks_information.json*, *test_clicks_information.json*). Придумывать сверхсложные факторы тоже необязательно.

Вы можете реализовать описанные выше факторы и/или придумать свои. Для экспериментов в лабораторной - достаточно реализовать предложенное, для победы в конкурсе - вряд ли. Но зачастую такие простые признаки могут приносить наибольшую пользу.

В итоге у вас должно получиться от 15 до 50 факторов, характеризующих запрос и организацию и покрывающих основные источники данных (кроме кликов). Это наш основной датасет, который будет использоваться в экспериментах.

**Важно**: До раздела *«Ранжирование»* будем считать, **что решается задача *регрессии* (предсказываем абсолютное значение релевантности)**.

In [7]:
import pandas as pd

test_df = pd.read_csv (r'test.csv')
test_df.head()

,query_id,query,region,org_name,org_id,window_center,window_size
0,20396,"""Агентство «Созвездие недвижимости предлагает ...",225,Железногорское Агентство недвижимости,1249145086,"99.505405,61.698653","171.643239,40.700127"
1,7344,ATM,108058,QNB Finansbank ATM,1187253652,"30.783271,40.397587","0.003431,0.003942"
2,17757,oto yıkama,11508,Elit Oto Yıkama & Kuafor,1195278147,"29.180056,41.016730","0.054920,0.059811"
3,8870,ресторан,213,Кафе Разные люди,1064538352,"37.425925,55.887505","0.080681,0.039410"
4,13055,банки,213,"Совкомбанк, отделение",1130294660,"37.633948,55.779017","0.022815,0.014827"

In [8]:
train_df = pd.read_csv (r'train.csv')
train_df.head()

,query_id,query,region,org_name,org_id,window_center,window_size,relevance
0,11,"суд, Украина, Днепропетровская область, Днепро...",21775,Суд Жовтневого району міста Дніпропетровськ,1021049127,"34.613119,48.506531","0.025928,0.017380",0.0
1,11,"суд, Украина, Днепропетровская область, Днепро...",21775,Дніпропетровський окружний адміністративний суд,1602348889,"34.613119,48.506531","0.025928,0.017380",0.0
2,11,"суд, Украина, Днепропетровская область, Днепро...",21775,Бабушкінський районний суд,1105837793,"34.613119,48.506531","0.025928,0.017380",0.0
3,11,"суд, Украина, Днепропетровская область, Днепро...",21775,Красногвардійський районний суд,1066267658,"34.613119,48.506531","0.025928,0.017380",0.0
4,11,"суд, Украина, Днепропетровская область, Днепро...",21775,Жовтневий суд,1661586235,"34.613119,48.506531","0.025928,0.017380",0.0

In [9]:
test_org_info_df = pd.read_json(r'test_org_information.json', orient='index', convert_axes=True)
test_org_info_df.reset_index(inplace=True)
test_org_info_df["index"] = (test_org_info_df["index"] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1ms')
test_org_info_df.set_index('index', inplace=True)
test_org_info_df.index.name = None
test_org_info_df = test_org_info_df.transpose()
test_org_info_df.head()

,1001979904,1776877570,1119059971,1190264840,1736114187,1092943885,1191968787,1228996631,1238695962,1219264540,...,1034715132,1130889194,1797778087,1094418412,1078039890,1731133424,1329304915,1095603540,1004601340,98077635246
names,"[{'value': {'locale': 'tr', 'value': 'Camlik I...","[{'value': {'locale': 'en', 'value': 'Strakhov...","[{'value': {'locale': 'en', 'value': 'Mariysky...","[{'value': {'locale': 'en', 'value': 'Detskaya...","[{'value': {'locale': 'en', 'value': 'Amursky ...","[{'value': {'locale': 'en', 'value': 'Neftmagi...","[{'value': {'locale': 'en', 'value': 'Novosibi...","[{'value': {'locale': 'tr', 'value': 'Safir Ot...","[{'value': {'locale': 'tr', 'value': 'Capa Ilk...","[{'value': {'locale': 'en', 'value': 'Turfirma...",...,"[{'value': {'locale': 'en', 'value': 'TeploEle...","[{'value': {'locale': 'en', 'value': 'FGAOU Vy...","[{'value': {'locale': 'en', 'value': 'Mar-An'}...","[{'value': {'locale': 'en', 'value': 'MBDOU De...","[{'value': {'locale': 'en', 'value': 'Infoflot...","[{'value': {'locale': 'en', 'value': 'Studiya ...","[{'value': {'locale': 'en', 'value': 'MAO FKS ...","[{'value': {'locale': 'en', 'value': 'Nedorogo...","[{'value': {'locale': 'en', 'value': 'RosEvroB...","[{'value': {'locale': 'ru', 'value': 'ММП Мисн..."
rubrics,"[30903, 31663]","[30364, 30365, 30366, 30412]","[30166, 30177, 30181]",[30057],[30309],[20271],[30309],[30785],"[30703, 31663]","[30793, 30794, 30795]",...,[30991],"[30777, 31580]",[30774],[30903],"[30765, 30794]",[30211],[31098],"[31278, 144152359]",[30336],[31564]
work_intervals,[],"[{'time_minutes_begin': 0, 'day': 'everyday', ...","[{'time_minutes_begin': 660, 'day': 'tuesday',...","[{'time_minutes_begin': 540, 'day': 'saturday'...","[{'time_minutes_begin': 480, 'day': 'weekdays'...","[{'time_minutes_begin': 0, 'day': 'everyday', ...","[{'time_minutes_begin': 540, 'day': 'weekdays'...",[],[],"[{'time_minutes_begin': 600, 'day': 'saturday'...",...,"[{'time_minutes_begin': 540, 'day': 'weekdays'...","[{'time_minutes_begin': 480, 'day': 'weekdays'...","[{'time_minutes_begin': 720, 'day': 'everyday'...","[{'time_minutes_begin': 420, 'day': 'weekdays'...","[{'time_minutes_begin': 540, 'day': 'weekdays'...","[{'time_minutes_begin': 600, 'day': 'everyday'...","[{'time_minutes_begin': 960, 'day': 'monday', ...","[{'time_minutes_begin': 0, 'day': 'everyday', ...","[{'time_minutes_begin': 480, 'day': 'everyday'...","[{'time_minutes_begin': 540, 'day': 'weekdays'..."
address,"{'region_code': 'TR', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'TR', 'formatted': {'locale': ...","{'region_code': 'TR', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...",...,"{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ..."

In [10]:
train_org_info_df = pd.read_json(r'train_org_information.json', orient='index', convert_axes=True)
train_org_info_df.reset_index(inplace=True)
train_org_info_df["index"] = (train_org_info_df["index"] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1ms')
train_org_info_df.set_index('index', inplace=True)
train_org_info_df.index.name = None
train_org_info_df = train_org_info_df.transpose()
train_org_info_df.head()

,1255014404,1111883782,39713767434,1336016908,149331116064,1273080496,1027997732,1010303013,1076887591,1220280361,...,1396812343,51283886027,1707999191,1755185118,122417293989,1010040812,1009516530,1397897875,1061370235,1027473401
names,"[{'value': {'locale': 'en', 'value': 'Bely Bok...","[{'value': {'locale': 'en', 'value': 'Vyborgsk...","[{'value': {'locale': 'en', 'value': 'Sberbank...","[{'value': {'locale': 'en', 'value': 'Filial b...","[{'value': {'locale': 'ru', 'value': 'Школа'}}]","[{'value': {'locale': 'en', 'value': 'Nedvizhi...","[{'value': {'locale': 'en', 'value': 'Demir Ho...","[{'value': {'locale': 'en', 'value': 'Zavod so...","[{'value': {'locale': 'en', 'value': 'Redaktsi...","[{'value': {'locale': 'en', 'value': 'Cassetta...",...,"[{'value': {'locale': 'en', 'value': 'Rosgosst...","[{'value': {'locale': 'en', 'value': 'Peyntbol...","[{'value': {'locale': 'en', 'value': 'Gorodska...","[{'value': {'locale': 'ru', 'value': 'Магазин ...","[{'value': {'locale': 'ru', 'value': 'Проспект...","[{'value': {'locale': 'en', 'value': 'Restoran...","[{'value': {'locale': 'en', 'value': 'Gtk Suzd...","[{'value': {'locale': 'en', 'value': 'Rukodeln...","[{'value': {'locale': 'en', 'value': 'Turkan D...","[{'value': {'locale': 'en', 'value': 'Kreativ ..."
rubrics,"[20277, 20679, 21237]",[30723],[30348],"[30057, 30111, 30114]",[30723],[31094],[30785],"[30478, 30587, 31083]","[30926, 31036]","[30762, 30770, 30776, 31286]",...,[30348],[30937],[30142],"[31342, 31628]",[3491649170],"[30776, 30785]","[30066, 30774, 30776, 30785, 30788]","[31404, 31462, 31507, 31524, 31595]","[30723, 31663]","[30209, 30210]"
work_intervals,"[{'time_minutes_begin': 540, 'day': 'everyday'...","[{'time_minutes_begin': 510, 'day': 'saturday'...","[{'time_minutes_begin': 570, 'day': 'saturday'...","[{'time_minutes_begin': 480, 'day': 'saturday'...",[],"[{'time_minutes_begin': 540, 'day': 'weekdays'...",[],"[{'time_minutes_begin': 540, 'day': 'weekdays'...","[{'time_minutes_begin': 540, 'day': 'weekdays'...",[],...,"[{'time_minutes_begin': 600, 'day': 'saturday'...","[{'time_minutes_begin': 540, 'day': 'everyday'...","[{'time_minutes_begin': 0, 'day': 'everyday', ...","[{'time_minutes_begin': 600, 'day': 'weekdays'...","[{'time_minutes_begin': 0, 'day': 'everyday', ...","[{'time_minutes_begin': 0, 'day': 'everyday', ...","[{'time_minutes_begin': 0, 'day': 'everyday', ...","[{'time_minutes_begin': 480, 'day': 'tuesday',...",[],[]
address,"{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'TR', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'TR', 'formatted': {'locale': ...",...,"{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'UA', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ...","{'region_code': 'UA', 'formatted': {'locale': ...","{'region_code': 'TR', 'formatted': {'locale': ...","{'region_code': 'RU', 'formatted': {'locale': ..."

In [11]:
train_org_info_df = train_org_info_df.transpose()

In [12]:
train_rubric_information_df = pd.read_json(r'train_rubric_information.json').transpose()
train_rubric_information_df.head()

,keywords,phrases,descriptions,names
273147906,"[{'locale': 'ru', 'value': 'велосипед парковка...","[{'locale': 'de', 'value': 'Parkplatz für Fahr...","[{'value': {'locale': 'tr', 'value': 'Bisiklet...","[{'locale': 'en', 'value': 'Bicycle stand'}, {..."
30723,"[{'locale': 'tr', 'value': 'liseler, ortaokul,...","[{'locale': 'de', 'value': 'Bildungseinrichtun...","[{'value': {'locale': 'tr', 'value': 'Çocuklar...","[{'locale': 'de', 'value': 'Allgemeinbildende ..."
30724,"[{'locale': 'tr', 'value': 'arastırma, bilim, ...","[{'locale': 'tr', 'value': 'Bilim Arastırma En...","[{'value': {'locale': 'tr', 'value': 'Bilim ar...","[{'locale': 'tr', 'value': 'Bilim Araştırma En..."
30725,"[{'locale': 'tr', 'value': 'eğitim kontrol'}]","[{'locale': 'en', 'value': 'Board of Education...","[{'value': {'locale': 'tr', 'value': 'Eğitim k...","[{'locale': 'it', 'value': 'Amministrazione de..."
30731,"[{'locale': 'ru', 'value': 'Новые технологии -...","[{'locale': 'en', 'value': 'implementation of ...","[{'value': {'locale': 'tr', 'value': 'Nanotekn...","[{'locale': 'de', 'value': 'Innovative Technol..."

In [13]:
test_rubric_information_df = pd.read_json(r'test_rubric_information.json').transpose()
test_rubric_information_df.head()

,keywords,phrases,descriptions,names
273147906,"[{'locale': 'ru', 'value': 'велосипед парковка...","[{'locale': 'de', 'value': 'Parkplatz für Fahr...","[{'value': {'locale': 'tr', 'value': 'Bisiklet...","[{'locale': 'en', 'value': 'Bicycle stand'}, {..."
30723,"[{'locale': 'tr', 'value': 'liseler, ortaokul,...","[{'locale': 'de', 'value': 'Bildungseinrichtun...","[{'value': {'locale': 'tr', 'value': 'Çocuklar...","[{'locale': 'de', 'value': 'Allgemeinbildende ..."
30724,"[{'locale': 'tr', 'value': 'arastırma, bilim, ...","[{'locale': 'tr', 'value': 'Bilim Arastırma En...","[{'value': {'locale': 'tr', 'value': 'Bilim ar...","[{'locale': 'tr', 'value': 'Bilim Araştırma En..."
30725,"[{'locale': 'tr', 'value': 'eğitim kontrol'}]","[{'locale': 'en', 'value': 'Board of Education...","[{'value': {'locale': 'tr', 'value': 'Eğitim k...","[{'locale': 'it', 'value': 'Amministrazione de..."
30731,"[{'locale': 'ru', 'value': 'Новые технологии -...","[{'locale': 'en', 'value': 'implementation of ...","[{'value': {'locale': 'tr', 'value': 'Nanotekn...","[{'locale': 'de', 'value': 'Innovative Technol..."

In [14]:
import numpy as np

df_test = test_df.copy()

def get_word_count(s):
    return len(s.split())

df_test["word_count"] = np.vectorize(get_word_count)(df_test["query"])
df_test

,query_id,query,region,org_name,org_id,window_center,window_size,word_count
0,20396,"""Агентство «Созвездие недвижимости предлагает ...",225,Железногорское Агентство недвижимости,1249145086,"99.505405,61.698653","171.643239,40.700127",9
1,7344,ATM,108058,QNB Finansbank ATM,1187253652,"30.783271,40.397587","0.003431,0.003942",1
2,17757,oto yıkama,11508,Elit Oto Yıkama & Kuafor,1195278147,"29.180056,41.016730","0.054920,0.059811",2
3,8870,ресторан,213,Кафе Разные люди,1064538352,"37.425925,55.887505","0.080681,0.039410",1
4,13055,банки,213,"Совкомбанк, отделение",1130294660,"37.633948,55.779017","0.022815,0.014827",1
...,...,...,...,...,...,...,...,...
14650,13095,стоматологии,213,Ортодонт-Элит,1103022756,"37.564676,55.738628","0.065922,0.048622",1
14651,3742,банкомат,213,"Райффайзенбанк, банкомат",1126439234,"37.764100,55.732700","0.659180,0.590452",1
14652,30154,манн иванов и фербер,172,Book24.ru - официальный книжный интернет магаз...,1724020302,"55.958727,54.735147","0.505375,0.454755",4
14653,23783,Пивзавод Волга 80 лет,40,Жигулевское пиво,1024204627,"51.524283,55.485362","19.914168,11.861451",4
14654,3760,Заправки,213,Нефтьмагистраль,1366554857,"37.786000,55.809900","0.084280,0.032386",1

In [15]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()
    
df_test["querry_and_result_similarity"] = np.vectorize(similar)(df_test["org_name"], df_test["query"])
df_test

,query_id,query,region,org_name,org_id,window_center,window_size,word_count,querry_and_result_similarity
0,20396,"""Агентство «Созвездие недвижимости предлагает ...",225,Железногорское Агентство недвижимости,1249145086,"99.505405,61.698653","171.643239,40.700127",9,0.389381
1,7344,ATM,108058,QNB Finansbank ATM,1187253652,"30.783271,40.397587","0.003431,0.003942",1,0.285714
2,17757,oto yıkama,11508,Elit Oto Yıkama & Kuafor,1195278147,"29.180056,41.016730","0.054920,0.059811",2,0.470588
3,8870,ресторан,213,Кафе Разные люди,1064538352,"37.425925,55.887505","0.080681,0.039410",1,0.166667
4,13055,банки,213,"Совкомбанк, отделение",1130294660,"37.633948,55.779017","0.022815,0.014827",1,0.384615
...,...,...,...,...,...,...,...,...,...
14650,13095,стоматологии,213,Ортодонт-Элит,1103022756,"37.564676,55.738628","0.065922,0.048622",1,0.400000
14651,3742,банкомат,213,"Райффайзенбанк, банкомат",1126439234,"37.764100,55.732700","0.659180,0.590452",1,0.500000
14652,30154,манн иванов и фербер,172,Book24.ru - официальный книжный интернет магаз...,1724020302,"55.958727,54.735147","0.505375,0.454755",4,0.281250
14653,23783,Пивзавод Волга 80 лет,40,Жигулевское пиво,1024204627,"51.524283,55.485362","19.914168,11.861451",4,0.216216
14654,3760,Заправки,213,Нефтьмагистраль,1366554857,"37.786000,55.809900","0.084280,0.032386",1,0.260870

In [16]:
df_test["org_json"] = np.vectorize(lambda x: test_org_info_df[x])(df_test["org_id"])
df_test["org_json"][0]

names             [{'value': {'locale': 'en', 'value': 'Zhelezno...
rubrics                                [30412, 31094, 31115, 31118]
work_intervals    [{'time_minutes_begin': 600, 'day': 'weekdays'...
address           {'region_code': 'RU', 'formatted': {'locale': ...
Name: 1249145086, dtype: object

In [17]:
df_test["region_code"] = np.vectorize(lambda x: x["address"]["region_code"])(df_test["org_json"])
grouped = df_test[["org_name", "region_code"]].groupby('region_code').agg(['count'])["org_name"]
grouped = grouped.sort_values('count', ascending=False)
CATS_QUANTITY = 5
top_cats = list(grouped.reset_index()["region_code"][:CATS_QUANTITY])
top_cats

['RU', 'TR', 'UA', 'BY', 'KZ']

In [18]:
top_cats_encoded = {top_cats[i] : 1 << i for i in range(CATS_QUANTITY)}
REGION_CODE_ONE_HOT_DEFAULT = 1 << CATS_QUANTITY
top_cats_encoded

{'RU': 1, 'TR': 2, 'UA': 4, 'BY': 8, 'KZ': 16}

In [19]:
df_test["region_code_encoded"] = np.vectorize(lambda x: top_cats_encoded.setdefault(x, REGION_CODE_ONE_HOT_DEFAULT))(df_test["region_code"])
df_test[df_test["region_code_encoded"]==1 << CATS_QUANTITY]

,query_id,query,region,org_name,org_id,window_center,window_size,word_count,querry_and_result_similarity,org_json,region_code,region_code_encoded
43,12805,oteller,21033,Lazur,1227954891,"27.506081,40.935204","7.031239,4.645797",1,0.166667,names [{'value': {'locale': 'en'...,BG,32
249,12805,oteller,21033,Royal Paradise Beach Resort & Spa,1222032718,"27.506081,40.935204","7.031239,4.645797",1,0.150000,"names [{'value': {'locale': 'en', ...",BO,32
257,12805,oteller,21033,Rachoni Bay,1135561891,"27.506081,40.935204","7.031239,4.645797",1,0.111111,"names [{'value': {'locale': 'en', ...",GR,32
480,21410,president испания отель,2,Petit Palace President Castellana,1255260370,"30.315868,59.939095","0.525488,0.346470",3,0.321429,"names [{'value': {'locale': 'en', ...",ES,32
494,35739,черновцы новая почта 6-е отделение,143,Почта,170397283112,"26.007414,48.340774","0.163422,0.052758",5,0.205128,names [{'value': {'locale': 'ru'...,MD,32
...,...,...,...,...,...,...,...,...,...,...,...,...
14351,12805,oteller,21033,Hotel Europa,1217816877,"27.506081,40.935204","7.031239,4.645797",1,0.526316,"names [{'value': {'locale': 'en', ...",US,32
14365,22588,"КБ 2 в 2-ой Боткинский проезд,5,к.4.",10738,Банк Апоалим,1588883042,"41.100601,56.540711","4.435730,1.350541",6,0.250000,"names [{'value': {'locale': 'ru', ...",IL,32
14380,12805,oteller,21033,Primoretz Grand Hotel & SPA,1226147043,"27.506081,40.935204","7.031239,4.645797",1,0.235294,"names [{'value': {'locale': 'en', ...",BG,32
14413,12805,oteller,21033,Club Hotel Miramar All Inclusive,1248821905,"27.506081,40.935204","7.031239,4.645797",1,0.256410,"names [{'value': {'locale': 'en', ...",BG,32
14522,12805,oteller,21033,Hotel Nobel,1191582984,"27.506081,40.935204","7.031239,4.645797",1,0.555556,"names [{'value': {'locale': 'en', ...",BG,32

## Bias-Variance decomposition. Композиции алгоритмов

![Bias Variance](http://scott.fortmann-roe.com/docs/docs/BiasVariance/biasvariance.png)

Рассмотрим задачу регрессии со среднеквадратичной функцией потерь, а также некоторый алгоритм $a$. Тогда качество алгоритма $a$ может быть записано следующим образом:

$$Q(a) = \mathbb{E}_{X^l} \mathbb{E}_{x,y}(a(x) - y)^2,$$

где первое матожидание вычисляется по всевозможным обучающим выборкам $X^l$ размера $l$. К сожалению, на реальных данных эта формула неприменима из-за невозможности сгенерировать необходимые для оценки данные. Поэтому проведем приближенный численный эксперимент с эмпирическими оценками матожиданий.

С помощью бутстраппинга можно просемплировать из обучающей выборки $N$ новых выборок того же размера, тем самым "имитируя" пространство всевозможных обучающих выборок, после чего обучить на каждой выбранный алгоритм. Обозначим вектор истинных меток тестовой выборки за $y \in \mathbb{R}^{m}$. Векторы прогнозов для объектов из тестовой выборки для каждой модели обозначим за $\hat{y}_i \in \mathbb{R}^{m}, i \in \{1, .., N\}$. Тогда средний квадрат ошибки по всем моделям на тестовой выборке запишется как

$$error=\frac{1}{N}\sum_{i=1}^{N}MSE(y,\hat{y}_i).$$

Обозначим среднее предсказание за $$\overline{y} = \frac{1}{N}\sum_{i=1}^{N} \hat{y}_i.$$

Тогда квадрат отклонения среднего предсказания и разброс прогнозов относительно среднего предсказания всех моделей на тестовой выборке от истинных меток запишутся следующим образом, соответственно:

$$bias^2 = MSE(y, \overline y),$$

$$variance = \frac{1}{N}\sum_{i=1}^N MSE(\hat{y}_i, \overline y).$$

Для начала рассмотрим в качестве алгоритма решающее дерево. Как известно, при увеличении высоты дерева алгоритм может быть сильно чувствителен к составу обучающей выборки. Чтобы подтвердить эти предположения, проведите следующие эксперименты.


Разбейте обучающий пул с факторами на обучающую и тестовую выборки в пропорциях 1 к 4 соответственно. Обратите внимание, что обучающая выборка меньше тестовой. Такая большая тестовая выборка позволит сделать измерение качества моделей достаточно достоверным.

**(1 балл) Задание 2.** Постройте графики зависимости $error$, $bias^2$ и $variance$ от глубины решающего дерева (от 1 до 15 включительно) для $N=200$.

**(0.5 балла) Задание 3.** Являются ли какие-то из полученных графиков монотонными? А должны ли они быть монотонными, если бы гипотетически эксперименты были проведены на всевозможных выборках? Почему? Убедитесь численно, что верно bias-variance разложение ошибки: $$error = bias^2 + variance$$

## Композиции алгоритмов

Несмотря на описанный выше недостаток решающих деревьев, объединение их в композиции позволяет существенно улучшить качество предсказания. Рассмотрим несколько способов построения композиций.

### Bagging + RSM

![](https://sites.google.com/site/rajhansgondane2506/_/rsrc/1467898300734/publications/rrftrain.jpg?height=215&width=320)

Один из способов объединения алгоритмов в композиции — обучение каждого отдельного алгоритма на некоторой подвыборке из исходной выборки ([bagging](https://en.wikipedia.org/wiki/Bootstrap_aggregating)) и подмножестве исходных признаков ([RSM](https://en.wikipedia.org/wiki/Random_subspace_method)). В sklearn этот тип композиции реализован в классе [BaggingRegressor](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingRegressor.html) (для случая регресии). Подобный подход также есть в реализации [RandomForest](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html).

### Градиентный бустинг

В случае бустинга композиция алгоритмов строится последовательно. Каждый следующий базовый алгоритм акцентируется на тех объектах, на которых обученная ранее композиция допускала ошибку.

Туториал по работе с известными реализациями градиентного бустинга XGBoost и CatBoost можно найти на вики-странице курса.

**(1 балл) Задание 4.** Проведите аналогичный эксперимент с bias-variance разложением для *градиентного бустинга*, а также для *случайного леса*, варьируя количество базовых алгоритмов (рассмотрите 1, 5, 10, 25, 50, 100 решающих деревьев).

Используйте модели градиентного бустанга XGBoost или CatBoost. Random Forest возьмите из пакета sklearn.

**(0.5 балла) Задание 5.** Отличаются ли графики в рассмотренных моделях (градиентный бустинг, случайный лес)  между собой? На какую компоненту из разложения ошибки влияет объединение алгоритмов в рассмотренный тип композиции? Поясните свой ответ.

### Стекинг
![](https://4.bp.blogspot.com/-hCxAb57kzDQ/VuMgHy3hAhI/AAAAAAAAAVk/djmL9IHv5QkLWeudjE50qDoCTbiUrTetA/s1600/Stacking.jpg)

[Stacking](https://en.wikipedia.org/wiki/Ensemble_learning#Stacking) — еще один способ объединить несколько алгоритмов в один, который часто используется как в решении реальных задач из промышленной сферы, так и в конкурсах на платформах вроде Kaggle. Подход использует понятие *базовых классификаторов*, каждый из которых независимо обучается на некотором (возможно одном и том же) множестве признаков, а также *мета-классификатора*, использующего предсказания базовых классификаторов как факторы.

**(1 балл) Задание 6.** Использование мета-классификатора подразумевает получение предсказаний от базовых классификаторов для тех объектов обучающей выборки, на которых мета-классификатор будет обучаться. В свою очередь базовые классификаторы тоже должны быть обучены на некоторой выборке. Чтобы избежать переобучения, обучающее множество делится на $n$ фолдов, $(n-1)$ из которых используются для обучения базовых классификаторов, а $n$-ый — для предсказания (вычисления значений мета-фактора).

Для получения мета-факторов для тестовых данных базовые классификаторы могут быть обучены на всем обучающем множестве, поскольку проблема переобучения здесь не возникает. Другими словами, если мы хотим посчитать факторы для тестового множества, мы можем спокойно использовать обучающее множество для тренировки базовых классификаторов. Если же мы хотим посчитать факторы для обучающего множества, то необходимо следить, чтобы классификатор не предсказывал для тех объектов, на которых обучался.

Мета-классификатор может быть обучен как на множестве исходных факторов, дополненным мета-факторами, так и исключительно на множестве мета-факторов. Выбор зависит от решаемой задачи.

Напишите функцию, которая получает на вход классификатор, обучающую и тестовые выборки, а также параметры [кросс-валидатора](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html) и возвращающую значения мета-фактора для обучающего и тестового множеств.

In [ ]:
def compute_meta_feature(clf, X_train, X_test, y_train, cv, *args, **kwargs):
    # your code here
    pass

**(1 балл) Задание 7.** Обучите различные известные вам модели машинного обучения и сделайте из них стекинг-композицию. 
  
  Базовые алгоритмы могут отличаться друг от друга:
    - моделью машинного обучения,
    - гиперпараметрами (например, различные функции потерь или глубины деревьев),
    - набором факторов,
    - целевой переменной: исходного целевую переменную y можно заменить на функцию от него (sqr(y), sqrt(y), log(y + 1), ...), бинаризовать по порогу ([y>y0]) или произвести другое преобразование.
  
  Обратите внимание, что бинарные мета-факторы дают меньше полезного сигнала мета-классификатору, чем числовые, поэтому базовым классификаторам лучше возвращать вероятность/числовую функцию, чем метки классов.

**(1 балл) Задание 8.** В этом задании мы попробуем обучить стекинг композицию градиентного бустинга и линейной модели на данных различной природы.

Загрузите данные по кликам (*train_clicks_information.json, test_clicks_information.json*). Используя текстовые информацию из данных о кликах, организациях, рубриках и запросах, постройте bag-of-words представление с помощью TfidfVectorizer.

После этого у вас будет два набора факторов: базовые факторы (*base*), реализованные ранее, и разреженная матрица признаков, полученная применением TfidfVectorizer'а (*tfidf*).

Обучите различные модели и замерьте качество на тестовой выборке по метрике MSE:

 1. Линейная модель на tfidf факторах;
 
 2. Линейная модель на tfidf + base факторах;

 3. Градиентный бустинг на base факторах;

 4. Градиентный бустинг на tfidf + base факторах (здесь можно сократить размерность tfidf, если данные не умещаются в памяти)
 
 5. Градиентный бустинг на base факторах + мета-факторе «предсказание модели из п.1»
 

Можете воспользоваться любой из двух реализаций градиентного бустинга: XGBoost или CatBoost.

Для тренировки tfidf модели можно использовать и обучающие, и тестовые данные, поскольку она не зависит от целевой переменной.

**(1 балл) Задание 9.**
Проанализируйте результаты, полученные в предыдущем задании. Сравните модели с точки зрения полученного качества, времени обучения и затрат по памяти.

Удалось ли улучшить качество предсказания с помощью стекинга?

Почему реализованная в п.5 стекинг композиция может работать лучше, чем градиентный бустинг, обученный на всем множестве факторов (п.4)?

Помогло ли добавление базовых факторов в линейную модель (модель из п.2 против модели из п.1)? Почему?

## Ранжирование

![](http://i.imgur.com/2QnD2nF.jpg)

Задачу поискового ранжирования можно описать следующим образом: имеется множество документов $d \in D$ и множество запросов $q \in Q$. Требуется оценить *степень релевантности* документа по отношению к запросу: $(q, d) \mapsto r$, относительно которой будет производиться ранжирование. Для восстановления этой зависимости используются методы машинного обучения. Обычно используется три типа:
 - признаки запроса $q$, например: мешок слов текста запроса, его длина, ...
 - документа $d$, например: значение PageRank, мешок слов, доменное имя, ...
 - пары $(q, d)$, например: число вхождений фразы из запроса $q$ в документе $d$, ...

Одна из отличительных особенностей задачи ранжирования от классических задач машинного обучения заключается в том, что качество результата зависит не от предсказанных оценок релевантности, а от порядка следования документов в рамках конкретного запроса, т.е. важно не абсолютное значение релевантности (его достаточно трудно формализовать в виде числа), а то, более или менее релевантен документ, относительно других документов.
### Подходы к решению задачи ранжирования
Существуют 3 основных подхода, различие между которыми в используемой функции потерь:
  
1. **Pointwise подход**. В этом случае рассматривается *один объект* (в случае поискового ранжирования - конкретный документ) и функция потерь считается только по нему. Любой стандартный классификатор или регрессор может решать pointwise задачу ранжирования, обучившись предсказывать значение таргета. Итоговое ранжирование получается после сортировки документов к одному запросу по предсказанию такой модели.
2. **Pairwise подход**. В рамках данной модели функция потерь вычисляется по *паре объектов*. Другими словами, функция потерь штрафует модель, если отражированная этой моделью пара документов оказалась в неправильном порядке.
3. **Listwise подход**. Этот подход использует все объекты для вычисления функции потерь, стараясь явно оптимизировать правильный порядок.

### Оценка качества

Для оценивания качества ранжирования найденных документов в поиске используются асессорские оценки. Само оценивание происходит на скрытых от обучения запросах $Queries$. Для этого традиционно используется метрика *DCG* ([Discounted Cumulative Gain](https://en.wikipedia.org/wiki/Discounted_cumulative_gain)) и ее нормализованный вариант — *nDCG*, всегда принимающий значения от 0 до 1.
Для одного запроса DCG считается следующим образом:
$$ DCG = \sum_{i=1}^P\frac{(2^{rel_i} - 1)}{\log_2(i+1)}, $$

где $P$ — число документов в поисковой выдаче, $rel_i$ — релевантность (асессорская оценка) документа, находящегося на i-той позиции.

*IDCG* — идеальное (наибольшее из возможных) значение *DCG*, может быть получено путем ранжирования документов по убыванию асессорских оценок.

Итоговая формула для расчета *nDCG*:

$$nDCG = \frac{DCG}{IDCG} \in [0, 1].$$

Чтобы оценить значение *nDCG* на выборке $Queries$ ($nDCG_{Queries}$) размера $N$, необходимо усреднить значение *nDCG* по всем запросам  выборки:
$$nDCG_{Queries} = \frac{1}{N}\sum_{q \in Queries}nDCG(q).$$

Пример реализации метрик ранжирование на python можно найти [здесь](https://gist.github.com/mblondel/7337391).

В рамках нашей задачи «документом» будет являться организация.

Разбейте обучающую выборку на обучение и контроль в соотношении 70 / 30. Обратите внимание, что разбивать необходимо множество запросов, а не строчки датасета.

Далее рассмотрим несколько подходов предсказания релевантности. Для оценивания качества моделей используйте метрику nDCG на контроле. В случае подбора гиперпараметров используйте кросс-валидацию по 5 блокам, где разбиение должно быть по запросам, а не строчкам датасета.

###  Ранжируем с XGBoost и CatBoost

XGBoost имеет несколько функций потерь для решения задачи ранжирования:
1. **reg:linear** — данную функцию потерь можно использовать для решения задачи ранжирование *pointwise* подходом.
2. **rank:pairwise** — в качестве *pairwise* модели в XGBoost реализован [RankNet](http://icml.cc/2015/wp-content/uploads/2015/06/icml_ranking.pdf), в котором минимизируется гладкий функционал качества ранжирования: $$ Obj = \sum_{i \prec j} \mathcal{L}\left(a(x_j) - a(x_i)\right) \rightarrow min $$ $$ \mathcal{L}(M) = log(1 + e^{-M}), $$ где $ a(x) $ - функция ранжирования. Суммирование ведется по всем парам объектов, для которых определено отношение порядка, например, для пар документов, показанных по одному запросу. Таким образом функция потерь штрафует за то, что пара объектов неправильно упорядочена.
3. **rank:map, rank:ndcg** — реализация [LambdaRank](https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/MSR-TR-2010-82.pdf) для двух метрик: [MAP](https://en.wikipedia.org/wiki/Information_retrieval#Mean_average_precision) и **nDCG**. Известно, что для того, чтобы оптимизировать негладкий функционал, такой как **nDCG**,  нужно домножить градиент функционала $ Obj(a) $ на значение $\Delta NDCG_{ij} $ — изменение значения функционала качества при замене $x_i$ на $ x_j$.  Поскольку для вычисления метрик необходимы все объекты выборки, то эти две ранжирующие функции потерь являются представителями класса *listwise* моделей.

Реализованные в CatBoost ранжирующие функции потерь можной найти [здесь](https://catboost.ai/docs/concepts/loss-functions-ranking.html#groupwise-metrics).

**(2 балла) Задание 10.** Попробуйте различные функции потерь (регрессионные и ранжирующие) для моделей XGBoost и CatBoost. Настройте основные параметры моделей (глубина, кол-во деревьев, глубина, скорость обучения, регуляризация).  
Сравните построенные модели с точки зрения метрики nDCG на контроле и проанализируйте полученные результаты:
  - какая модель работает лучше всего для данной задачи? 
  - в чем достоинства/недостатки каждой? 
  - сравните модели между собой: 
   - получается ли сравнимое качество линейного pointwise подхода с остальными моделями? 
   - заметна ли разница в качестве при использовании бустинга с разными функциями потерь?

**(1 балл) Задание 11.** Одним из основных преимуществ CatBoost'a является обработка категориальных факторов «из коробки». Добавьте в датасет различные категориальные факторы из данных и обучите заново CatBoost модели. Улучшилось ли качество?

#### Пользовательская функция потерь

Библиотека XGBoost позволяет использовать пользовательские функции потерь. Для этого необходимо реализовать функцию, принимающую на вход вектор предсказанных значений и обучающую выборку, и возвращающую градиент и гессиан, посчитанный по входным данным.

Важно отметить, что XGBoost использует диагональную аппроксимацию гессиана, таким образом все недиагональные элементы считаются малозначимыми и приравниваются нулю, поэтому и градиент, и гессиан являются векторами длины размера обучающей выборки.

**(3 балла) Задание 12.** Реализуйте экспоненциальную функцию потерь для XGBoost:
$$ Obj = \sum_{i \prec j} \mathcal{L}\left(a(x_j) - a(x_i)\right) \rightarrow min $$ $$ \mathcal{L}(M) = e^{-M} $$

Обучите модель с помощью данной функции потерь, настройте параметры.

**Комментарии к реализации**

В случае ранжирования XGBoost'у необходимо знать о разбиении всех объектов на группы. В нашем случае в одну группу будут входить документы, соответствующие одному запросу. Функция, считающая градиент и гессиан по данным, должна знать данное разбиение датасета. Однако питоновский интерфейс класса *DMatrix* (в котором хранится датасет) не дает возможности получить это разбиение. В этом случае нужно реализовать функцию потерь в качестве функтора, конструктор которого принимает разбиение на группы в качестве параметра.

Пример реализации своей функции потерь можно найти на соответствующем семинаре.

In [ ]:
class ExponentialPairwiseLoss(object):
    def __init__(self, groups):
        self.groups = groups
                        
    def __call__(self, preds, dtrain):
        # your code here
        pass

**Задание 13.** С помощью наилучшей из получившихся в ходе лабораторной работы моделей сделайте предсказания для тестовой части выборки и отправьте их на kaggle. В отдельной ячейке выпишите получившийся результат (NDCG).

**Результат:**

-----------------------------------------------------------

На этом лабораторная часть задания закончена. Далее - конкурсная часть. Вы можете решать его прямо здесь или в отдельном ноутбуке. Эта часть работы проверяется только у решений, попавших в топ в лидерборде.
Если решать конкурс в отдельном ноутбуке удобнее, можете выложить его в энитаск рядом с решением лабораторной.

Удачи!

Кратко опишите, как вы добились такого результата. Расскажите, что успели попробовать и что из этого сработало.

Кроме этого, можете оставить отзыв о лабораторно-конкурсном задании :)